@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color: #081b29;
  --sec-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}

section{
    width: 100%;
    min-height: 100vh;
    background: #171717;
    padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: 1.5s;
}
.header.sticky {
  background: var(--sec-bg-color);
}
.logo {
  position: relative;
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.navbar {
  position: relative;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 1.5rem;
  transition: .3s;
}
.navbar a:hover,
.navbar a.active {
  color: var(--main-color);

}
#menu-icon {
  position: relative;
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

.animate {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--sec-bg-color);
  z-index: 98;
}

.logo .animate,
.navbar .animate,
#menu-icon .animate {
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

.animate.scroll {
    transition: 1s ease;
    transition-delay: calc(.3s / var(--i));
    animation: none;
}

span {
    color: var(--main-color);
}

@media (max-width: 1200px) {
  html {
      font-size: 55%;
  }
}
@media (max-width: 991px) {
  .header {
      padding: 2rem 4%;
  }
  section {
    padding: 10rem 4% 2rem;
  }
  .home {
    padding: 0 4%;
  }
  .footer {
    padding: 2rem 4%;
}
}
@media (max-width: 768px) {
  .header {
 
      padding: 1.5rem 4%;
  }
  #menu-icon {
      display: block;
  }
  .navbar {
      position: absolute;
      top: 100%;
      left: -100%;
      width: 100%;
      padding: 1rem 4%;
      background: var(--main-color);
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
      z-index: 1;
      transition: .25s ease;
      transition-delay: .25s;
  }
  .navbar.active {
      flex-direction: column;
      position: static;
      background: transparent;
      box-shadow: none;
      left: 0;
      transition-delay: 0s;
  }
  .navbar .active-nav {
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: var(--bg-color);
      border-top: .1rem solid rgba(0, 0, 0, .2);
      z-index: -1;
      transition: .25s ease;
      transition-delay: 0s;
  }
  .navbar.active .active-nav {
      display: none;
      transition-delay: .25s;
      left: 0;
  }
  .navbar a {
      display: block;
      font-size: 2rem;
      margin: 1rem 0;
      transform: none;
  }
  .navbar.active a {
      transform: none;
      transition-delay: .25s;
  }
}

@keyframes showRight {
  100% {
      width: 0;
  }
}


.swiper {
    width: 100%;
    height: 70vh;
    border-radius: 20px;
    overflow: hidden;
  }

  .swiper::selection{
    user-select: none;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide .image .black{
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom, rgba(0,0,0,0.0),rgba(0,0,0,0.9));
  }

  .swiper-slide .image .black h1{
    font-size: 30px;
    text-align: left;
    position: relative;
    top: 60%;
    left: 5%;
    color: #fff;
  }

  .swiper-slide .image .black .star{
    color: #ffd500;
    text-align: left;
    font-size: 16px;
    margin: 10px 0;
    position: relative;
    top: 60%;
    left: 5%;
  }

  .swiper-slide .image .black p{
    width: 550px;
    text-align: justify;
    font-size: 16px;
    color: #cccccc;
    margin: 10px 0;
    position: relative;
    top: 60%;
    left: 5%;
    line-height: 23px;
    font-family: "Ink Free";
  }

  .swiper-slide .image .black .genre{
    text-align: left;
    font-size: 16px;
    margin: 13px 0;
    position: relative;
    top: 60%;
    left: 5%;
    cursor: pointer;
  }

  .swiper-slide .image .black .genre a.category{
    background: #282931;
    text-decoration: none;
    color: #cccccc;
    padding: 2px 7px;
  }

  .swiper-slide .image .black .genre a.category span{
    color: #ffe100;
  }

  .swiper-slide .image .black .watch{
    width: 700px;
    text-align: left;
    display: flex;
    font-size: 16px;
    margin: 10px 0;
    position: relative;
    top: 60%;
    left: 5%;
  }

  .swiper-slide .image .black .watch i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #ffe100;
    border-radius: 50%;
    cursor: pointer;
  }

  .swiper-slide .image .black .watch p{
    position: relative;
    left: 15px;
    font-family: sans-serif;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }

  


/*--------------*/

.second{
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 25px;
  background: #171717;
}

.second .latest{
  width: 95%;
  margin: 0 auto;
}

.second .latest h1{
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}

.second .latest .box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.second .latest .box .card{
  width: 250px;
  height: 370px;
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
}

.second .latest .box .card .details{
  width: 250px;
  height: 370px;
  overflow: hidden;
  position: absolute;
  border-radius: 8px;
  transition: 0.3s;
  opacity: 0;
}

.second .latest .box .card:hover .details{
  opacity: 1;
  background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.7));
}

.second .latest .box .card .details .left{
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateX(-100px);
  transition: 0.4s;
  opacity: 0;
}

.second .latest .box .card:hover .details .left{
  opacity: 1;
  transform: translateX(0);
}

.second .latest .box .card .details .left p.name{
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
}

.second .latest .box .card .details .left .date_quality{
  display: flex;
  align-items: center;
}

.second .latest .box .card .details .left .date_quality p.quality{
  width: 30px;
  font-size: 13px;
  background: #ffe100;
  color: #282931;
  margin-left: 10px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: bold;
}

.second .latest .box .card .details .left .date_quality p.date{
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 8px;
}

.second .latest .box .card .details .left p.category{
  margin-left: 10px;
  font-size: 13px;
  margin-bottom: 8px;
}

.second .latest .box .card .details .left .info{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.second .latest .box .card .details .left .info .rate{
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.second .latest .box .card .details .left .info .rate i{
  font-size: 12px;
  color: #ffd500;
  margin-right: 5px;
}

.second .latest .box .card .details .left .info .rate p{
  font-size: 12px;
}

.second .latest .box .card .details .left .info .time{
  display: flex;
  align-items: center;
}

.second .latest .box .card .details .left .info .time i{
  font-size: 12px;
  color: #ffd500;
  margin-left: 5px;
}

.second .latest .box .card .details .left .info .time p{
  font-size: 12px;
  margin-left: 5px;
}

.second .latest .box .card .details .right{
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  transform: translateX(100px);
  transition: 0.4s;
  opacity: 0;
}

.second .latest .box .card:hover .details .right{
  opacity: 1;
  transform: translateX(0);
}

.second .latest .box .card .details .right i{
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  background-color: #ffe100;
  border-radius: 50%;
  cursor: pointer;
  color: #282931;
  margin: 0 10px 8px 0;
}

.second .latest .box .card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}




/*---------*/

.upcoming{
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 25px;
  background-color: #171717;
}

.upcoming .movies_box{
  width: 95%;
  margin: 0 auto;
}

.upcoming .movies_box h1{
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}
.upcoming .movies_box .box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upcoming .movies_box .box .card{
  width: 250px;
  height: 370px;
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
}

.upcoming .movies_box .box .card .details{
  width: 250px;
  height: 370px;
  overflow: hidden;
  position: absolute;
  border-radius: 8px;
  transition: 0.3s;
  opacity: 0;
}

.upcoming .movies_box .box .card:hover .details{
  opacity: 1;
  background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.7));
}

.upcoming .movies_box .box .card .details .left{
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateX(-100px);
  transition: 0.4s;
  opacity: 0;
}

.upcoming .movies_box .box .card:hover .details .left{
  opacity: 1;
  transform: translateX(0);
}

.upcoming .movies_box .box .card .details .left p.name{
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
}

.upcoming .movies_box .box .card .details .left .date_quality{
  display: flex;
  align-items: center;
}

.upcoming .movies_box .box .card .details .left .date_quality p.quality{
  width: 30px;
  font-size: 13px;
  background: #ffe100;
  color: #282931;
  margin-left: 10px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: bold;
}

.upcoming .movies_box .box .card .details .left .date_quality p.date{
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 8px;
}

.upcoming .movies_box .box .card .details .left p.category{
  margin-left: 10px;
  font-size: 13px;
  margin-bottom: 8px;
}

.upcoming .movies_box .box .card .details .left .info{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.upcoming .movies_box .box .card .details .left .info .time{
  display: flex;
  align-items: center;
}

.upcoming .movies_box .box .card .details .left .info .time i{
  font-size: 12px;
  color: #ffd500;
  margin-left: 5px;
}

.upcoming .movies_box .box .card .details .left .info .time p{
  font-size: 12px;
  margin-left: 5px;
}

.upcoming .movies_box .box .card .details .right{
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  transform: translateX(100px);
  transition: 0.4s;
  opacity: 0;
}

.upcoming .movies_box .box .card:hover .details .right{
  opacity: 1;
  transform: translateX(0);
}

.upcoming .movies_box .box .card .details .right i{
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  background-color: #ffe100;
  border-radius: 50%;
  cursor: pointer;
  color: #282931;
  margin: 0 10px 8px 0;
}

.upcoming .movies_box .box .card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}




/*----------*/

.show{
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 25px;
  background-color: #171717;
}

.show .tv_show{
  width: 95%;
  margin: 0 auto;
}

.show .tv_show h1{
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}

.show .tv_show .box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.show .tv_show .box .card{
  width: 250px;
  height: 370px;
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
}

.show .tv_show .box .card .details{
  width: 250px;
  height: 370px;
  overflow: hidden;
  position: absolute;
  border-radius: 8px;
  transition: 0.3s;
  opacity: 0;
}

.show .tv_show .box .card:hover .details{
  opacity: 1;
  background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.7));
}

.show .tv_show .box .card .details .left{
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateX(-100px);
  transition: 0.4s;
  opacity: 0;
}

.show .tv_show .box .card:hover .details .left{
  opacity: 1;
  transform: translateX(0);
}

.show .tv_show .box .card .details .left p.name{
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
}

.show .tv_show .box .card .details .left .date_quality{
  display: flex;
  align-items: center;
}

.show .tv_show .box .card .details .left .date_quality p.quality{
  width: 30px;
  font-size: 13px;
  background: #ffe100;
  color: #282931;
  margin-left: 10px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: bold;
}

.show .tv_show .box .card .details .left .date_quality p.date{
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 8px;
}

.show .tv_show .box .card .details .left p.category{
  margin-left: 10px;
  font-size: 13px;
  margin-bottom: 8px;
}

.show .tv_show .box .card .details .left .info{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card .details .left .info .rate {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.card .details .left .info .rate i {
  font-size: 12px;
  color: #ffd500;
  margin-left: 5px;
}

.show .tv_show .box .card .details .left .info .rate{
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}


.show .tv_show .box .card .details .left .info .rate i{
  font-size: 12px;
  color: #ffd500;
  margin-right: 5px;
}

.show .tv_show .box .card .details .left .info .rate p{
  font-size: 12px;
}

.show .tv_show .box .card .details .left .info .time{
  display: flex;
  align-items: center;
}


.show .tv_show .box .card .details .left .info .time i{
  font-size: 12px;
  color: #ffd500;
  margin-left: 5px;
}

.show .tv_show .box .card .details .left .info .time p{
  font-size: 12px;
  margin-left: 5px;
}

.show .tv_show .box .card .details .right{
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  transform: translateX(100px);
  transition: 0.4s;
  opacity: 0;
}

.show .tv_show .box .card:hover .details .right{
  opacity: 1;
  transform: translateX(0);
}

.show .tv_show .box .card .details .right i{
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  background-color: #ffe100;
  border-radius: 50%;
  cursor: pointer;
  color: #282931;
  margin: 0 10px 8px 0;
}

.show .tv_show .box .card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 4%;
  background: var(--sec-bg-color);
}
.footer-text p {
  font-size: 1.4rem;
}
.footer-iconTop a {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: .8rem;
  background: var(--main-color);
  border: .2rem solid var(--main-color);
  border-radius: .6rem;
  z-index: 1;
  overflow: hidden;
}
.footer-iconTop a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--sec-bg-color);
  z-index: -1;
  transition: .5s;
}
.footer-iconTop a:hover::before {
  width: 100%;
}
.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--bg-color);
  transition: .5s;
}
.footer-iconTop a:hover i {
  color: var(--main-color)
}

@media (max-width: 462px) {
  .footer {
      flex-direction: column-reverse;
  }
  .footer p {
      margin-top: 2rem;
      text-align: center;
  }
}

.second.latest.box .card,
.upcoming.movies_box.box .card,
.show.tv_show.box .card {
    width: 100%;
    max-width: 800px; 
    margin: auto auto;
}